<!-- components/footer.html -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Brand & Description -->
            <div class="col-md-3 mb-4">
                <div class="footer-brand">
                    <span>Alfalah</span>
                    <div style="font-size: 14px;">Haji & Umroh</div>
                </div>
                <p class="footer-description">Comfortable and Quiet Worship, Our Service No. 1 in Indonesia</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2 mb-4">
                <h5 class="footer-heading">Quicky</h5>
                <ul class="footer-links">
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Akomodasi Penerbangan</a></li>
                    <li><a href="#">Fasilitas</a></li>
                    <li><a href="#">Galeri</a></li>
                </ul>
            </div>

            <!-- Paket Umroh -->
            <div class="col-md-2 mb-4">
                <h5 class="footer-heading">Paket Umroh</h5>
                <ul class="footer-links">
                    <li><a href="#">Umroh Bronze</a></li>
                    <li><a href="#">Umroh Silver</a></li>
                    <li><a href="#">Umroh Radiant</a></li>
                    <li><a href="#">Umroh Ascendant</a></li>
                </ul>
            </div>

            <!-- Paket Haji -->
            <div class="col-md-2 mb-4">
                <h5 class="footer-heading">Paket Haji</h5>
                <ul class="footer-links">
                    <li><a href="#">Haji Immortal</a></li>
                    <li><a href="#">Haji Diamond</a></li>
                    <li><a href="#">Haji Platinum</a></li>
                </ul>
            </div>

            <!-- Kantor Kami -->
            <div class="col-md-3 mb-4">
                <h5 class="footer-heading">Kantor Kami</h5>
                <ul class="footer-links">
                    <li><a href="#">Indonesia</a></li>
                    <li><a href="#">Saudi Arabia</a></li>
                    <li><a href="#">Uni Emirates Arab</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row footer-bottom">
            <div class="col-md-6">
                <small>Copyright © 2006 - 2023 Al Nasr Travel | All Reserved</small>
            </div>
            <div class="col-md-6 text-end">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>