<!-- components/navbar.html -->
<header class="bg-light py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="text-primary mb-0">Alfalah</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link text-dark" href="../Home/index.html">Beranda</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Paket Umroh
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../paket-umroh/index.html">Umroh Bronze</a></li>
                        <li><a class="dropdown-item" href="#">Umroh Silver</a></li>
                        <li><a class="dropdown-item" href="#">Umroh Radiant</a></li>
                        <li><a class="dropdown-item" href="#">Umroh Ascendant</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="jadwalDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Jadwal Umroh
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="jadwalDropdown">
                        <li><a class="dropdown-item" href="#">Januari</a></li>
                        <li><a class="dropdown-item" href="#">Februari</a></li>
                        <li><a class="dropdown-item" href="#">Maret</a></li>
                        <li><a class="dropdown-item" href="#">April</a></li>
                        <li><a class="dropdown-item" href="#">Mei</a></li>
                        <li><a class="dropdown-item" href="#">Juni</a></li>
                        <li><a class="dropdown-item" href="#">Juli</a></li>
                        <li><a class="dropdown-item" href="#">Agustus</a></li>
                        <li><a class="dropdown-item" href="#">September</a></li>
                        <li><a class="dropdown-item" href="#">Oktober</a></li>
                        <li><a class="dropdown-item" href="#">November</a></li>
                        <li><a class="dropdown-item" href="#">Desember</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link text-dark" href="#">Haji</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#">Kemitraan</a></li>
            </ul>
        </nav>
        <a href="#" class="btn btn-warning">Login Admin</a>
    </div>
</header>